h1 {
    background: rgb(0, 229, 255);
}

.paragraph-1 {
    background: pink;
    color:aqua;
    font-size: 32pt;
}

.paragraph-2{
    border: 10px solid yellow;
    font-size: 24pt;
    border-radius: 5px;
    margin-bottom: 60px;
    padding-left: 20px;
}
.paragraph-3 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.paragraph-4 {
   font-style: oblique;
   text-align: center;
   font-size: 24px;
   text-shadow: 2px -4px 6px green; 
}